doctype html

html
  head
    title Cardinal

    script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"
    script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"
    script src="//cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"
    script src="/assets/main.js"
    link rel="stylesheet" href="/assets/main.css"

  body
    #container
      .log
        .log-line.log-line-info Loading...
